<%= render 'users/show', user:@user %>
<%= render 'books/new' , newbook:@newbook %>

<h1>Books</h1>
<% @books.each do |book| %>
<%= attachment_image_tag book.user,:profile_image ,:fill,40,40 %>
<%= link_to book_path(book.id) do %>
 <li><%= book.title %>
 <% end %>|
 <%= book.body %></li> 
<% end %>